<div class="row">
  <div class="col-xs-3 col-xs-offset-1 form-inline">
    <label for="filter">  Filter By Rower </label>
    <select class="form-control" ng-model="$ctrl.rower" id="filter">
      <option value="">Rower</option>
      <option ng-repeat="user in $ctrl.users" value="{{user.userFirstName}}"><p>{{user.userFirstName}} {{user.userLastName}}</p></option>
    </select>
  </div>
  <div class="col-xs-3 form-inline">
    <label for="sort">  Sort by </label>
    <select class="form-control" ng-model="$ctrl.orderBy" id="sort">
      <option value="title">Title</option>
      <option value="time">Time</option>
      <option value="scheduledFor">Date</option>
    </select>
  </div>
</div>

<div class="row rowSpacing">
  <div class="col-xs-10 col-xs-offset-1">
    <table class="table table-striped table-hover table-sm table-responsive">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Title</th>
          <th>Time</th>
          <th>Avg. Split</th>
          <th>Avg. Stroke Rate</th>
          <th>Weight</th>
          <th>Weight Adj. Score</th>
          <th>Scheduled For</th>
          <th>PR Raw</th>
          <th>PR Adjusted</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="result in $ctrl.results | filter:{userFirstName:$ctrl.rower} |  orderBy:$ctrl.orderBy">
          <td>{{ result.userFirstName}} {{result.userLastName}}</td>
          <td>{{ result.title }}</td>
          <td>{{ result.time}} </td>
          <td>{{ result.avgSplit}} </td>
          <td>{{ result.avgSr}} </td>
          <td>{{ result.weight}} </td>
          <td>{{ result.weightAdjustedScore}} </td>
          <td>{{ result.scheduleCategory}} {{result.year}} </td>
          <td>{{ result.prRaw}} </td>
          <td>{{ result.prAdj}} </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>






<div class="">
  <a ui-sref="admin">back</a>

</div>
