body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border: none;
  font-size: 1.3em;
}

.profileFormRow{
  margin-top: 40px;
}

.homepage-glyph{
  font-size: 2em;
  color: purple;
}

/*.practiceUpdateLink{
  font-size: .7em;
  margin-left: 10px;
}*/

input[type=checkbox]{
  margin-left: 30px;
}

.dashboardLinks:visited{
  color: white;
}

.weatherDayHeadings{
  text-decoration: underline;
}
.weatherLogoContainer{
  min-height: 100px;
}
.weatherLogo{
  width: 80px;
}
.announcementBox{
  box-shadow: 2px 3px;
  border: 1px solid red;
  min-height: 100px;
  width: 550px;
}

.announcementHeading{
  text-shadow: 1px 1px red;
}

.practiceAttendanceBoxes{
  margin-top: 40px;
}

table{
  margin-left: 20px;
}

/********** Erg Results Page ***********/
.erg-results-and-upcoming{
  margin-top: 50px;
}
.all-results-container{
  height: 400px;
  overflow: auto;
}

.result-container{
  border-bottom: 1px solid purple;
}

/********************************************/

body {
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  /*background: #333;*/
  /*background-attachment: fixed;*/
  /*background-size: cover;*/
}

/* The only rule that matters */
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

/* These just style the content */
article {
/*  just a fancy border  */
  /*position: absolute;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*border: 10px solid rgba(255, 255, 255, 0.5);*/
  margin: 10px;
}

h1 {
  position: absolute;
  top: 60%;
  width: 100%;
  font-size: 36px;
  letter-spacing: 3px;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;
}

h1 span {
  font-family: sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

h1 span a {
  color: #fff;
}
