



<div class="row">
  <div class="col-xs-6 col-md-3">
    <h5 ng-model="$ctrl.userFirstName">Name: {{ $ctrl.user.userFirstName }} <span ng-model="$ctrl.userLastName">{{$ctrl.user.userLastName}}</span></h5>
    <h5 ng-model="$ctrl.userEmail">Email: {{ $ctrl.user.userEmail}} <a href="#">edit</a></h5>
  </div>
</div>
<div ng-show="$ctrl.show"class="row">
  <form class="" action="index.html" method="post">
    <input type="text" name="" value="">
    <input type="text" name="" value="">
    <input type="text" name="" value="">

  </form>

</div>
